<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parte5</title>
    <link rel="stylesheet" href="../../recursos/css/miestilo.css">
</head>
<body background="https://s-media-cache-ak0.pinimg.com/originals/9f/dd/bd/9fddbdc0aed8deed49b35fc8e4c9f467.jpg">
      <font size="10px" background="white" color="#ffffff" align="center"><p>
             INTERACCION CON LAS REDES
        </p></font>
    <img src="http://www.fotonostra.com/digital/fotos/redesociales2.jpg" WIDTH=500 HEIGHT=400 VSPACE=2 HSPACE=400>
        <div>
       <font size="5px" background="white" color="#ffffff" align="center"><p>
             Esta es una de las principales caracteristicas de las redes sociales. Es lo que mueve a las redes sociales, lo que mejor plasma su carácter social. Ya sea que se comparta un mismo interés en algún deporte, una misma institución, o lo que fuera, la gente está allí para comunicar y expresarse.
             <br>
             Los perfiles y las listas de contactos son solo los pasos previos para ese fin último que es interactuar con otros. En los sitios de redes sociales esto se evidencia cuando se comparte actividades y contenidos. Un comentario en Facebook, un enlace en Twitter, una consulta en Quora, etc.
             <br>
             Otras caracteristicas de las redes sociales que están presentes en mayor o menor medida son:
             <center><h2>Personalizacion</h2>
             Los usuarios son capaces de ajustar las configuraciones del sitio.
             <h2>Tiempo Real</h2>
             A diferencia de los foros y otras páginas de comunidades, las redes sociales ofrecen la oportunidad de establecer relaciones con respuestas inmediatas, asegurando una interacción continua.
             <h2>Inteligencia colectiva</h2>
             El sentido de colaboración, creación conjunta y ayuda mutua inspira la conformación de redes sociales. Es el usuario quien en comunidad propone, soluciona y da soporte a la misma.
             <h2>Lenguaje multimedia e hipertextual</h2>
             El lenguaje de las redes sociales es el de Internet, en el que se usan los recursos audiovisuales (texto, imagen, video, audio, gráficos interactivos y animaciones) y los enlaces para comunicar.
             <h2>Viralidad</h2>
              El sistema de redes de contactos hace fácil la propagación de contenidos, multiplicando exponencialmente su exhibición e influencia.</center>
        </p></font>
        <br>
    <form action="menu.html" method="get">
    <center> <button id="btn">Pagina Principal</button>
    </form>
</body>
  <embed id=sonido src="Calvin Harris - Feel So Close (Housejunkee Edit).mp3" autostart=true loop=true width=0 height=0>
</html>
