<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parte6</title>
    <link rel="stylesheet" href="../../recursos/css/miestilo.css">
</head>
<body background="https://s-media-cache-ak0.pinimg.com/originals/9f/dd/bd/9fddbdc0aed8deed49b35fc8e4c9f467.jpg">
      <font size="10px" background="white" color="#ffffff" align="center"><p>
             REDES SOCIALES EN LA EDUCACION
        </p></font>
    <img src="https://marcelamomberg.files.wordpress.com/2012/12/impactotwg.jpg" WIDTH=500 HEIGHT=400 VSPACE=2 HSPACE=400>
        <div>
       <font size="5px" background="white" color="#ffffff" align="center"><p>
             Las redes sociales han ganado un espacio importante en los ámbitos laborales, personales e incluso en lo educativo, por esta razón no podemos dejar de lado su influencia hacia los estudiantes, el objetivo es volverse un agente activo y no pasivo de las redes sociales , es decir que cada uno de los estudiantes que acceden a estas plataformas lo vean como un espacio de aprendizaje o de biblioteca digital que ayude a fomentar y distribuir información de manera responsable, esta labor se debe realizar con los profesores y la familia ya que sin el apoyo de cada uno de los entes es imposible obtener un cambio en el uso de las mismas. <br>Para algunos autores coinciden en que "las personas jóvenes, al haber nacido en un mundo digital actúan influenciados por sus condiciones, entonces se cae en temores que relacionan las horas de navegación en la red con aconteceres nocivos y a veces peligrosos. Esto puede ser cierto pero es impreciso y parcializado.
             <br>Inclusive, tales relaciones son injustas al generalizarse para estigmatizar al joven cibernauta" por esta razón es importante recalcar que cada individuo debe tener claro que las redes sociales puede ser utilizado de una mejor manera para el ámbito educativo.
        </p></font>
        <br>
    <form action="menu.html" method="get">
    <center> <button id="btn">Pagina Principal</button>
    </form>
</body>
  <embed id=sonido src="Calvin Harris - Feel So Close (Housejunkee Edit).mp3" autostart=true loop=true width=0 height=0>
</html>
