<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>regis</title>
    <link rel="stylesheet" href="../../recursos/css/regisUser.css">
    <link rel="stylesheet" href="../../recursos/css/miestilo.css">
</head>
<body background="https://poetrytheanthology.files.wordpress.com/2015/06/clouds-and-stars.jpg">
        <div class="frmuser">
        <h3><center><font size="15px">REGISTRARSE</font></center> </h3>
       <form action="">
        <div class="divcaja">
           <lable> Nombre</lable><br>
           <input type="text" class="caja" placeholder="Ingrese su nombre">
         </div>
       <br>
        <div class="divcaja">
           <lable> Apellido</lable><br>
           <input type="text" class="caja" placeholder="Ingrese su apellido">
         </div>
       <br>
        <div class="divcaja">
           <lable> Correo</lable><br>
           <input type="text" class="caja" placeholder="Ingrese su correo">
         </div>
       <br>
        <div class="divcaja">
           <lable> Usuario</lable><br>
           <input type="text" class="caja" placeholder="Ingrese su usuario">
         </div>
       <br>
          <div class="divcaja">
           <lable> Password</lable><br>
           <input type="password" class="caja" placeholder="Ingrese su contraseña">
          </div>
          <br>
          <br>

        <form action="menu.html" method="get">
            <center> <button id="btn"><a href="menu.html">Ir a Login</a></button></center>
        </form>
        <br>
       </form>
     </div>
</body>
</html>
